<section id="room-info">
    <h2>Raumübersicht</h2>
    <section id="subject-selection">
        <label for="roomSelect">Wählen Sie einen Raum:</label>
        <select id="roomSelect"></select>
    </section>
    <section id="room-student-list">
        <h3>Schüler im Raum:</h3>
        <table id="roomStudentTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Braucht Unterstützung</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="roomStudentTableBody"></tbody>
        </table>
    </section>
</section>