<section id="subject-info">
    <h2>Fächerübersicht</h2>
    <section id="subject-selection">
        <label for="subjectSelect">Wählen Sie ein Fach:</label>
        <select id="subjectSelect"></select>
        <label for="classSelectSubject">Wählen Sie eine Klasse:</label>
        <select id="classSelectSubject"></select>
    </section>
    <section id="subject-student-list">
        <h3>Schüler in der Klasse:</h3>
        <table id="subjectStudentTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Braucht Unterstützung</th>
                    <th>Braucht Betreuung für Experiment</th>
                    <th>Sucht Partner</th>
                    <th>Ist bereit für den Gelingensnachweis</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="subjectStudentTableBody"></tbody>
        </table>
</section>